{% assign is_post = page.date %}
<!doctype>
<html lang="en">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body class="bg-super-white">
    <header>
      <nav class="menu" aria-label="Main">
        {% for link in site.links %}
          <a
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             {{ link.name }}
           </a>
        {% endfor %}
      </nav>
    </header>
    <div class="content">
      
        {% if page.title %}
          <div class="markdown-body">
            {% if page.date %}<div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>{% endif %}
            <h1 class="title">
              {% if is_post %}
              {% endif %}
              {{ page.title }}
            </h1>
            {% if is_post and site.share %}
              <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial" data-action="like"></div>
            {% endif %}
          </div>
        {% endif %}
        <div class="markdown-body">
          {{ content }}
        </div>
      {% if is_post %}{% include pagination.html %}{% endif %}
    </div>
    <footer>
	Copyright © mixsun 2018 Theme by scribble
    </footer>
  </body>
</html>
