{% assign is_post = page.date %}
<!doctype>
<html lang="en">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body class="lh-copy dark-gray pa0 sans-serif bg-super-white">
    <header>
      <nav class="menu" aria-label="Main">
        {% for link in site.links %}
          <a class="blue hover-mid-gray mh2 pv1"
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             {{ link.name }}
           </a>
        {% endfor %}
      </nav>
    </header>
    <div class="content">
        {% if page.title %}
          <div class="mb4">
            {% if page.date %}<div class="light-silver mt1">{{ page.date | date_to_string }}</div>{% endif %}
            <h1 class="ttu f2 mt0 lh-title cb mb2">
              {% if is_post %}
              {% endif %}
              {{ page.title }}
            </h1>
          </div>
        {% endif %}
        <div class="markdown-body">
          {{ content }}
        </div>
      {% if is_post %}{% include pagination.html %}{% endif %}
    </div>
    <footer>
	Copyright © mixsun 2018 Theme by scribble
    </footer>
  </body>
</html>
